/vendor
/node_modules
/public/build
/public/hot
/public/vendor/livewire
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
docker-compose.override.yml
/.fleet
/.idea
/.nova
/.vscode
/.zed
/database/database.sqlite
/storage/installed
/laravel.zip
/lara.zip
*.zip
/dist-desktop
/public/*.exe
/public/*.AppImage
/public/*.deb
/public/*.zip
/mobile
*.jks
/read
/modules/*
!/modules/.gitkeep

/license-review

/scratch
/Documentation
/Licensing
/localization_patch.diff
/nativephp_debug.json
